.color{
    background-color: #00A69D;
}
.color1{
    background-color: #EEEEEE;
}
.margen{
    margin-top: 100px;
    margin-bottom:110px;
}

.boton{
    border-color: #F2B705;
    color: black;
    text-align: center
}

.boton:hover{
    background-color: #F2B705;
    color: black;
    
}

.boton-success{
    border-color: #00A69D;
    color: black;
    text-align: center
}

.boton-success:hover{
    background-color: #00A69D;
    color: black;
    
}

.boton-danger{
    border-color: #F7504A;
    color: black;
    text-align: center
}

.boton-danger:hover{
    background-color: #F7504A;
    color: black;
    
}

.border-card{
    border-color: #F2B705;
    color: black;
    
}

.titulo-size{
    color: black;
    background-color: #F2B705;
    font-size: 24px;
    text-align: center;
}

.input-size{
    font-size: 18px;
}

.texto:hover{
    border-color: #F2B705;
    box-shadow: 0 0 0 2px #F2B705;   
    border-radius: 2px;

}

.texto:focus{
    border-color: #F2B705;
    box-shadow: 0 0 0 2px #F2B705;
    outline: 0;
}

.borde{
    border: #F2B705 3px solid;
    
}

table thead{
    color: black;
    background-color: #F2B705;
    border: #F2B705;    
    font-size: 16px;
    text-align: center;
}

.radio label,
.checkbox label {
    display: inline-block;
    cursor: pointer;
    color: black;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}

.radio label:hover,
.checkbox label:hover {
    background: rgba(242, 183, 5, 0.1); 
}

.radio label:before,
.checkbox label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 3px solid #F2B705; 
}

input[type="radio"] {
    display: none; 
}

input[type="radio"]:checked + label:before {
    display: none; 
}

input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: #F2B705;
    border-radius: 2px;
    color: #000000; 
}

.checkbox label:before {
    border-radius: 3px; 
}

.checkbox input[type="checkbox"] {
    display: none; 
}

.checkbox input[type="checkbox"]:checked + label:before {
    display: none; 
}

.checkbox input[type="checkbox"]:checked + label {
    background: #F2B705;
    color: black;
    padding: 5px 15px;
 }

 